asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
Django==5.2
django-redis==5.4.0
idna==3.10
mysqlclient==2.2.7
pillow==11.2.1
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
redis==6.2.0
requests==2.32.4
setuptools==78.1.1
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
wheel==0.45.1
