asgiref==3.9.1
bleach==4.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.6
Django==5.2.5
django-eose==0.3.1
django-redis==6.0.0
django-summernote==0.8.20.0
gunicorn==23.0.0
idna==3.10
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
psutil==7.0.0
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
redis==6.2.0
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
webencodings==0.5.1
wheel==0.45.1
