{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Dashboard - {% endblock %}CRM Financeiro</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'assets/crm_financeiro/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'assets/crm_financeiro/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Code -->
    {% block code %}
    {% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
                <div class="sidebar-brand-text mx-3">CRM Financeiro</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item {% block dashboard_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Clientes
            </div>

            <!-- Nav Item -->
            <li class="nav-item {% block register_customer_active %}{% endblock %}">
                <a class="nav-link pt-1 pb-1" href="{% url 'register_customer' %}">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <span>Cadastrar cliente</span></a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item {% block customer_active %}{% endblock %}">
                <a class="nav-link pt-1 pb-1" href="{% url 'list_customers' %}">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Clientes</span></a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item {% block simulations_active %}{% endblock %}">
                <a class="nav-link pt-1 pb-1" href="{% url 'list_simulations' %}">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <span>Simulações</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Propostas
            </div>

            <!-- Nav Item -->
            <li class="nav-item {% block loan_proposal_active %}{% endblock %}">
                <a class="nav-link pt-1 pb-1" href="{% url 'list_loan_proposals' %}">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span>Propostas</span></a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item {% block installment_active %}{% endblock %}">
                <a class="nav-link pt-1 pb-1" href="{% url 'list_installments' %}">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Parcelas de propostas</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Heading -->
            <div class="sidebar-heading">
                Blog
            </div>

            <!-- Nav Item -->
            <li class="nav-item {% block add_blog_post_active %}{% endblock %}">
                <a class="nav-link pt-1 pb-1" href="{% url 'create_blog_post' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span>Criar postagem</span></a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item {% block blog_posts_active %}{% endblock %}">
                <a class="nav-link pt-1 pb-1" href="#">
                    <i class="fa fa-newspaper" aria-hidden="true"></i>
                    <span>Postagens</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.first_name|default:request.user.username }}</span>
                            <img class="img-profile rounded-circle"
                                src="{% static 'assets/crm_financeiro/img/undraw_profile.svg' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Log de atividades
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Sair
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Main Content -->
            {% block content %}
            {% endblock %}
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; CRM Financeiro 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">Clique em "sair" caso realmente deseje sair.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <form action="{% url 'logout' %}" method="post" data-toggle="modal" data-target="#logoutModal">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Sair</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assets/crm_financeiro/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/crm_financeiro/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'assets/crm_financeiro/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'assets/crm_financeiro/js/sb-admin-2.min.js' %}"></script>
</body>

</html>
