{% extends 'crm_financeiro/_partials/base.html' %}
{% load static %}

{% block add_blog_post_active %}active{% endblock %}

{% block content %}
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Criar postagem</h1>
        </div>

        {% if messages %}
            <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <!-- Content Row -->
        <div class="row">
            <div class="container">
                <div class="form-container">
                    <form action="{% url 'create_blog_post' %}" method="post" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-field-container mb-3">
                            <label for="{{ form.title.name }}" class="form-label w-100" style="text-align: left;">{{ form.title.label }}</label>
                            {{ form.title }}
                            <span class="error-message" id="full_name-error"></span>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="{{ form.short_description.name }}" class="form-label w-100" style="text-align: left;">{{ form.short_description.label }}</label>
                            {{ form.short_description }}
                            <span class="error-message" id="cpf-error"></span>
                        </div>

                        <div class="form-field-container mb-3 input-group align-items-start flex-column">
                            <img id="preview" src="{% static 'assets/crm_financeiro/img/undraw_image-upload_7b3b.svg' %}" alt="Pré-visualização" class="img-thumbnail mr-3 mb-3" style="width: 300px;">
                            <label for="{{ form.featured_image.name }}" class="input-group-text btn btn-primary">{{ form.featured_image.label }}</label>
                            {{ form.featured_image }}
                            <span class="error-message" id="featured_image-error"></span>

                            <script>
                                document.getElementById("featured_image").addEventListener("change", function(event) {
                                    const [file] = event.target.files;
                                    const preview = document.getElementById("preview");
                                    if (file) {
                                      preview.src = URL.createObjectURL(file);
                                      preview.style.display = "block";
                                    }
                                });
                            </script>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="id_{{ form.content.name }}" class="form-label w-100" style="text-align: left;">{{ form.content.label }}</label>
                            {{ form.content }}
                            <span class="error-message" id="state-error"></span>
                        </div>

                        <button type="submit" id="submit-form-btn" class="btn btn-primary mt-3 mb-3">Criar postagem</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}
