{% extends 'crm_financeiro/_partials/base.html' %}
{% load static %}
{% load custom_filters %}

{% block customer_active %}active{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Dados do(a) cliente</h5>
      <a href="{% url 'update_customer' client.slug %}" class="btn btn-light">Editar</a>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Nome:</label>
          <div>{{ client.full_name }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">CPF:</label>
          <div>{{ client.cpf|format_cpf }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Telefone:</label>
          <div>{{ client.phone|format_phone }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Email:</label>
          <div>{{ client.email }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Cidade:</label>
          <div>{{ client.city }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Estado:</label>
          <div>{{ client.get_state_display }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Estado Civil:</label>
          <div>{{ client.get_marital_status_display }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Nascimento:</label>
          <div>{{ client.birth_date }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Ocupação:</label>
          <div>{{ client.get_employment_status_display }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Data de Cadastro:</label>
          <div>{{ client.client_since }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Está ativo:</label>
          <div>{{ client.is_active|yesno:"Sim,Não" }}</div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold mb-1">Marcado para exclusão:</label>
          <div>{{ client.marked_for_deletion|yesno:"Sim,Não" }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    {% if client.is_active == True %}
    <button type="button" class="btn btn-primary">Gerar proposta</button>
    <a href="{% url 'deactivate_customer' client.slug %}" class="btn btn-warning">Desativar cliente</a>
    {% else %}
    <a href="{% url 'deactivate_customer' client.slug %}" class="btn btn-success">Ativar cliente</a>
    {% endif %}

    {% if client.marked_for_deletion == True %}
    <a href="{% url 'delete_customer' client.slug %}" class="btn btn-danger">Cancelar exclusão do cliente</a>
    {% else %}
    <a href="{% url 'delete_customer' client.slug %}" class="btn btn-danger">Excluir cliente</a>
    {% endif %}
  </div>
</div>
{% endblock %}
