{% extends 'crm_financeiro/_partials/base.html' %}
{% load static %}
{% load custom_filters %}

{% block loan_proposal_active %}active{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Propostas</h1>

    {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <form method="get" action="{% url 'loan_proposals_action_router' %}" class="row g-3 mb-4">
        <!-- Barra de pesquisa -->
        <div class="col-md-12 mb-3">
            <label for="search" class="form-label" style="text-align: left;">Pesquisa:</label>
            <input type="text" name="search" class="form-control" placeholder="Pesquisar por nome, CPF, telefone, email, cidade..." value="{{ request.GET.search }}">
        </div>

        <!-- Filtros individuais -->
        <div class="col-md-4 mb-3">
            <label for="{{ form.status.name }}" class="form-label" style="text-align: left;">{{ form.status.label }}</label>
            {{ form.status }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.payment_status.name }}" class="form-label" style="text-align: left;">{{ form.payment_status.label }}</label>
            {{ form.payment_status }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.released_value_min.name }}" class="form-label" style="text-align: left;">{{ form.released_value_min.label }}</label>
            {{ form.released_value_min }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.released_value_max.name }}" class="form-label" style="text-align: left;">{{ form.released_value_max.label }}</label>
            {{ form.released_value_max }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.number_of_installments_min.name }}" class="form-label" style="text-align: left;">{{ form.number_of_installments_min.label }}</label>
            {{ form.number_of_installments_min }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.number_of_installments_max.name }}" class="form-label" style="text-align: left;">{{ form.number_of_installments_max.label }}</label>
            {{ form.number_of_installments_max }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.value_of_installments_min.name }}" class="form-label" style="text-align: left;">{{ form.value_of_installments_min.label }}</label>
            {{ form.value_of_installments_min }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.value_of_installments_max.name }}" class="form-label" style="text-align: left;">{{ form.value_of_installments_max.label }}</label>
            {{ form.value_of_installments_max }}
        </div>

        <!-- Botão de filtro -->
        <div class="col-md-12">
            <button type="submit" name="action" value="filter" class="btn btn-primary">Filtrar</button>
            <button type="submit" name="action" value="export" class="btn btn-primary">Exportar CSV</button>
        </div>
    </form>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if loan_proposals|length == 1 %}
            <h6 class="m-0 font-weight-bold text-primary">Mostrando {{ loan_proposals|length }} proposta</h6>
            {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Mostrando {{ loan_proposals|length }} propostas</h6>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Status do pagamento</th>
                            <th>Valor liberado</th>
                            <th>Quantidade de parcelas</th>
                            <th>Valor das parcelas</th>
                            <th>Nome completo</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loan_proposal in loan_proposals %}
                        <tr>
                            <td><a href="{% url 'detail_loan_proposal' loan_proposal.slug %}">{{ loan_proposal.get_status_display }}</a></td>
                            <td>{{ loan_proposal.get_payment_status_display }}</td>
                            <td>{{ loan_proposal.released_value }}</td>
                            <td>{{ loan_proposal.number_of_installments }}</td>
                            <td>{{ loan_proposal.value_of_installments }}</td>
                            <td>{{ loan_proposal.client.full_name }}</td>
                            <td>{{ loan_proposal.client.cpf|format_cpf }}</td>
                            <td>{{ loan_proposal.client.phone|format_phone }}</td>
                            <td>{{ loan_proposal.client.email }}</td>
                            <td>{{ loan_proposal.client.city }}</td>
                            <td>{{ loan_proposal.client.state }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <div class="pagination">
        {% with request.GET.urlencode as querystring %}
            {% if page_obj.has_previous %}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.previous_page_number }}&{{ querystring }}">← Página anterior</a>
                </div>
            {% endif %}

            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.next_page_number }}&{{ querystring }}">Próxima página →</a>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endif %}
</div>
<!-- /.container-fluid -->
{% endblock %}
