{% extends 'crm_financeiro/_partials/base_auth.html' %}
{% load static %}

{% block title %}Login - CRM Financeiro{% endblock %}

{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url({% static 'assets/crm_financeiro/img/pexels-goumbik-590011.jpg' %})"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h2 text-gray-900 mb-4" style="color: #4e73df !important">CRM Financeiro</h1>
                                <h1 class="h4 text-gray-900 mb-2">Bem-vindo(a) de volta!</h1>
                            </div>
                            <form method="post" action="{% url 'login' %}" class="user">
                                {% csrf_token %}

                                <div>
                                    {% for message in messages %}
                                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                                        <p class="mb-0">{{ message|safe }}</p>
                                    </div>
                                    {% endfor %}

                                    {% if form.non_field_errors %}
                                    <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                                        {% for error in form.non_field_errors %}
                                            <p class="mb-0">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}

                                    {% if form.username.errors %}
                                    <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                                        {% for error in form.username.errors %}
                                            <p class="mb-0">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                    
                                    {% if form.password.errors %}
                                    <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                                        {% for error in form.password.errors %}
                                            <p class="mb-0">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
