{% extends 'crm_financeiro/_partials/base.html' %}
{% load static %}
{% load custom_filters %}

{% block customer_active %}active{% endblock %}

{% block code %}
<script src="{% static 'assets/landing_page/js/phone_input.js' %}" type="text/javascript" defer></script>
<script src="{% static 'assets/crm_financeiro/js/update_customer_request.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Editar Cliente</h1>
        </div>

        {% if messages %}
            <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <!-- Content Row -->
        <div class="row">
            <div class="container">
                <div class="form-container">
                    <form action="#" method="post" id="update-customer-form" autocomplete="off">
                        {% csrf_token %}

                        <div class="form-field-container mb-3">
                            <label for="{{ client_form.city.name }}" class="form-label w-100" style="text-align: left;">{{ client_form.city.label }}</label>
                            {{ client_form.city }}
                            <span class="error-message" id="city-error"></span>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="{{ client_form.state.name }}" class="form-label w-100" style="text-align: left;">{{ client_form.state.label }}</label>
                            {{ client_form.state }}
                            <span class="error-message" id="state-error"></span>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="{{ client_form.marital_status.name }}" class="form-label w-100" style="text-align: left;">{{ client_form.marital_status.label }}</label>
                            {{ client_form.marital_status }}
                            <span class="error-message" id="marital_status-error"></span>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="{{ client_form.employment_status.name }}" class="form-label w-100" style="text-align: left;">{{ client_form.employment_status.label }}</label>
                            {{ client_form.employment_status }}
                            <span class="error-message" id="employment_status-error"></span>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="{{ client_form.phone.name }}" class="form-label w-100" style="text-align: left;">{{ client_form.phone.label }}</label>
                            {{ client_form.phone }}
                            <span class="error-message" id="phone-error"></span>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="{{ client_form.email.name }}" class="form-label w-100" style="text-align: left;">{{ client_form.email.label }}</label>
                            {{ client_form.email }}
                            <span class="error-message" id="email-error"></span>
                        </div>

                        <button type="submit" id="submit-form-btn" class="btn btn-primary mt-3 mb-3">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}
