{% extends 'crm_financeiro/_partials/base.html' %}
{% load static %}

{% block blog_posts_active %}active{% endblock %}

{% block content %}
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Editar postagem</h1>
        </div>

        {% if messages %}
            <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                {% for error in form.non_field_errors %}
                    <p class="mb-0">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            </div>
        {% endif %}

        <!-- Content Row -->
        <div class="row">
            <div class="container">
                <div class="form-container">
                    <form action="{% url 'update_blog_post' blog_post.slug %}" method="post" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-field-container mb-3">
                            <label for="{{ form.title.name }}" class="form-label w-100" style="text-align: left;">{{ form.title.label }}</label>
                            {{ form.title }}
                            
                            {% if form.title.errors %}
                            <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                                {% for error in form.title.errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="{{ form.short_description.name }}" class="form-label w-100" style="text-align: left;">{{ form.short_description.label }}</label>
                            {{ form.short_description }}
                            
                            {% if form.short_description.errors %}
                            <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                                {% for error in form.short_description.errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-field-container mb-3 input-group align-items-start flex-column">
                            <img id="preview" src="{% if blog_post.featured_image %}{{ blog_post.featured_image.url }}{% else %}{% static 'assets/crm_financeiro/img/undraw_image-upload_7b3b.svg' %}{% endif %}" alt="Pré-visualização" class="img-thumbnail mr-3 mb-3" style="width: 300px;">
                            <label for="{{ form.featured_image.name }}" class="input-group-text btn btn-primary">{{ form.featured_image.label }}</label>
                            {{ form.featured_image }}
                            
                            {% if form.featured_image.errors %}
                            <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                                {% for error in form.featured_image.errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <script>
                                document.getElementById("featured_image").addEventListener("change", function(event) {
                                    const [file] = event.target.files;
                                    const preview = document.getElementById("preview");
                                    if (file) {
                                      preview.src = URL.createObjectURL(file);
                                      preview.style.display = "block";
                                    }
                                });
                            </script>
                        </div>

                        <div class="form-field-container mb-3">
                            <label for="id_{{ form.content.name }}" class="form-label w-100" style="text-align: left;">{{ form.content.label }}</label>
                            {{ form.content }}
                            
                            {% if form.content.errors %}
                            <div class="alert alert-danger mt-1 pt-1 pb-1 pr-3 pl-3">
                                {% for error in form.content.errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <button type="submit" id="submit-form-btn" class="btn btn-primary mt-3 mb-3">Editar postagem</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}
