{% extends 'crm_financeiro/_partials/base_auth.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <h5 class="font-weight-bold text-success mb-1">✔ Resposta registrada com sucesso!</h5>
                        <p class="mb-0 text-gray-800">Caso tenha alguma dúvida, entre em contato com o nosso suporte.</p>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
