{% extends 'crm_financeiro/_partials/base.html' %}
{% load static %}
{% load custom_filters %}

{% block installment_active %}active{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Parcelas</h1>

    {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <form method="get" action="{% url 'installments_action_router' %}" class="row g-3 mb-4">
        <!-- Barra de pesquisa -->
        <div class="col-md-12 mb-3">
            <label for="search" class="form-label" style="text-align: left;">Pesquisa:</label>
            <input type="text" name="search" class="form-control" placeholder="Pesquisar por nome, CPF, telefone, email, cidade..." value="{{ request.GET.search }}">
        </div>

        <!-- Filtros individuais -->
        <div class="col-md-4 mb-3">
            <label for="{{ form.due_date_initial.name }}" class="form-label" style="text-align: left;">{{ form.due_date_initial.label }}</label>
            {{ form.due_date_initial }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.due_date_final.name }}" class="form-label" style="text-align: left;">{{ form.due_date_final.label }}</label>
            {{ form.due_date_final }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.payment_date_initial.name }}" class="form-label" style="text-align: left;">{{ form.payment_date_initial.label }}</label>
            {{ form.payment_date_initial }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.payment_date_final.name }}" class="form-label" style="text-align: left;">{{ form.payment_date_final.label }}</label>
            {{ form.payment_date_final }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.amount_min.name }}" class="form-label" style="text-align: left;">{{ form.amount_min.label }}</label>
            {{ form.amount_min }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.amount_max.name }}" class="form-label" style="text-align: left;">{{ form.amount_max.label }}</label>
            {{ form.amount_max }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.is_paid.name }}" class="form-label" style="text-align: left;">{{ form.is_paid.label }}</label>
            {{ form.is_paid }}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.is_canceled.name }}" class="form-label" style="text-align: left;">{{ form.is_canceled.label }}</label>
            {{ form.is_canceled }}
        </div>

        <!-- Botão de filtro -->
        <div class="col-md-12">
            <button type="submit" name="action" value="filter" class="btn btn-primary">Filtrar</button>
            <button type="submit" name="action" value="export" class="btn btn-primary">Exportar CSV</button>
        </div>
    </form>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if installments|length == 1 %}
            <h6 class="m-0 font-weight-bold text-primary">Mostrando {{ installments|length }} parcela</h6>
            {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Mostrando {{ installments|length }} parcelas</h6>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome do cliente</th>
                            <th>CPF do cliente</th>
                            <th>Status da proposta</th>
                            <th>Status de pagamento da proposta</th>
                            <th>Número da parcela</th>
                            <th>Data de vencimento</th>
                            <th>Data de pagamento</th>
                            <th>Valor</th>
                            <th>Pago</th>
                            <th>Está cancelado</th>
                            <th>Data Criado</th>
                            <th>Data Atualizado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for installment in installments %}
                        <tr>
                            <td><a href="{% url 'detail_installment' installment.slug %}">{{ installment.loan_proposal.client.full_name }}</a></td>
                            <td>{{ installment.loan_proposal.client.cpf|format_cpf }}</td>
                            <td>{{ installment.loan_proposal.get_status_display }}</td>
                            <td>{{ installment.loan_proposal.get_payment_status_display }}</td>
                            <td>{{ installment.installment_number }}</td>
                            <td>{{ installment.due_date }}</td>
                            <td>{{ installment.payment_date }}</td>
                            <td>{{ installment.amount|format_currency }}</td>
                            <td>{{ installment.is_paid }}</td>
                            <td>{{ installment.is_canceled }}</td>
                            <td>{{ installment.created_at }}</td>
                            <td>{{ installment.updated_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <div class="pagination mb-4">
        {% if page_obj.has_previous %}
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary text-uppercase" href="{% querystring page=page_obj.previous_page_number %}">← Página anterior</a>
            </div>
        {% endif %}

        <span class="mr-2 ml-2 p-2">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary text-uppercase" href="{% querystring page=page_obj.next_page_number %}">Próxima página →</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>
<!-- /.container-fluid -->
{% endblock %}
