{% extends 'blog/_partials/blog_base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/blog/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>CRM Financeiro</h1>
                    <span class="subheading">Um sistema completo para gestão de clientes e leads.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in blog_posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'blog_post' post.slug %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.short_description }}</h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="{% url 'landing_page' %}">CRM Financeiro</a>
                    em {{ post.created_at }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

            {% if is_paginated %}
            <!-- Pager-->
            <div class="pagination">
                {% if page_obj.has_previous %}
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="?page={{ page_obj.previous_page_number }}">← Novas postagens</a></div>
                {% endif %}

                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="?page={{ page_obj.next_page_number }}">Postagens antigas →</a></div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
