{% extends 'blog/_partials/blog_base.html' %}
{% load static %}

{% block title %}Blog - {{ blog_post.title }}{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ blog_post.featured_image.url }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ blog_post.title }}</h1>
                    <h2 class="subheading">{{ blog_post.short_description }}</h2>
                    <span class="meta">
                        Postado por
                        <a href="{% url 'landing_page' %}">CRM Financeiro</a>
                        em {{ post.created_at }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ blog_post.content|safe }}
            </div>
        </div>
    </div>
</article>
{% endblock %}
